#game {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid darkgray;
  margin-bottom: 20px;
  /*background-color: rgba(156, 39, 176, 0.1);*/
  text-align: center;
}

/*#availableGames{
  border: 1px solid darkgray;
}*/

#button{
  margin-bottom: 20px;
}

#redTitle {
  color: rgba(144, 10, 26, 0.83);
}

#yellowTitle {
  color: #dcd020;
}

#time {
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
}
