  <form *ngIf="!submitted" (ngSubmit)="SignUp()" [formGroup]="addPlayerForm" >

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group"
          [class.has-error]="isInvalid('fullName')">
          <label for="name">Full Name</label>
          <input class="form-control" id="fullName" formControlName="fullName" placeholder="Full Name">
          <span *ngIf="isInvalid('fullName')" class="help-block">
            <p>
              {{getValidationMessage('fullName')}}
            </p>
          </span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group"
          [class.has-error]="isInvalid('email')">
          <label for="email">Email Address</label>
          <input class="form-control" id="email" formControlName="email" placeholder="Email Address">
          <span *ngIf="isInvalid('email')" class="help-block">
            {{getValidationMessage('email')}}
          </span>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group"
          [class.has-error]="isInvalid('password')">
          <label for="password">Password</label>
          <input class="form-control" id="password" formControlName="password" type="password" placeholder="Password">
          <span *ngIf="isInvalid('password')" class="help-block">
            {{getValidationMessage('password')}}
          </span>
        </div>
      </div>

      <!-- Problem is with the formControlName -->
      <!-- <input class="form-control" id="password" formControlName="password" type="password" placeholder="Password">
       -->

    </div>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Location, time and dates
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p><b>Location: </b>{{location}}</p>
            <p><b>Time: </b>{{time}}</p>
            <p><b>Date: </b>{{dates}}</p>
            <i>Subject to change each week. You will be notified if different when applying for a game each week</i>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Signing up to play and costs / dropping out
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <h4>Signing up to play and costs</h4>
            <p>The first 16 people to select 'count me in' will be put down to play in the game they select. If all 16 spaces are filled, you will be put as a reserve.</p>
            <p>If you make it into the starting 16, you will be debited £4.</p>
            <p>If you are a reserve, you will not be debited unless you are drafted into the starting 16 due to a drop out. At this point you will be debited £4</p>
            <h4>Dropping out</h4>
            <p>If you are in the starting 16 and need to drop out and there is a reserve present, you will be credited £4. (Covering the initial £4 debit)</p>
            <p>If you are in the starting 16 and need to drop out and there are no reserve present, you will be credited £2.</p>
            <p>If you are a reserve and you need to drop out, there are no cost implications.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Other information
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <h4>Any questions on rules or finances?</h4>
            <p>If you have any questions then please contact either Kris Reid or Jamie Brooks</p>
            <h4>Forgetting my password</h4>
            <p>If you forget your password, come and talk to either Kris Reid or Jamie Brooks who will help</p>
            <h4>Cancellations</h4>
            <p>In the event we need to cancel a game (for any range of reasons), we will give you as much notice as possible and ensure that debits are credited back into your account</p>
            <h4>Other</h4>
            <p>We will be using any spare cash to buy new footballs (to compensate for the terrible shooting that results in the loss of footballs), goalkeeper gloves and bibs. We will also try and arrange sepearte events (i.e. xmas curry) with any spare cash that we have.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="checkbox" [class.has-error]="isInvalid('terms')">
      <label>
        <input type="checkbox"
          formControlName="terms">
        Agree to Terms and Conditions
      </label>
      <span *ngIf="isInvalid('terms')" class="help-block">
        <p>Please accept the terms</p>
      </span>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="addPlayerForm.invalid">
      Submit
    </button>

    <button class="btn btn-danger" (click)="Cancel()">
      Cancel
    </button>

  </form>

  <div *ngIf="submitted">

    <h2>{{addPlayerForm.value.fullName}}, Thanks for Registering with TNF</h2>
    <p>You have registered the email address: {{addPlayerForm.value.email}} with a password of {{addPlayerForm.value.password}}. Please remember the credentials for login purposes</p>

    <!-- <pre>{{addPlayerForm.value | json}}</pre> -->

    <button class="btn btn-primary"
      (click)="SignIn()">
      Login
    </button>

  </div>
